Assignment 1 (20BMH1029 SHIVAM PAL SINGH)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s1 = pd.Series(np.random.rand(4))
s2 = pd.Series(np.random.rand(4))
s3 = pd.Series(np.random.rand(4))
s4 = pd.Series(np.random.rand(4))
print(s1,s2,s3,s4)

0    0.029580
1    0.195417
2    0.384198
3    0.922017
dtype: float64 0    0.944321
1    0.290608
2    0.854225
3    0.406404
dtype: float64 0    0.113246
1    0.798040
2    0.718091
3    0.302360
dtype: float64 0    0.497047
1    0.465923
2    0.983712
3    0.768730
dtype: float64

Task 1

In [ ]:
df = pd.DataFrame([s1,s2,s3,s4])
df

          0         1         2         3
0  0.029580  0.195417  0.384198  0.922017
1  0.944321  0.290608  0.854225  0.406404
2  0.113246  0.798040  0.718091  0.302360
3  0.497047  0.465923  0.983712  0.768730

Task-2

In [ ]:
df.columns = ['Random Value 1','Random Value 2','Random Value 3','Random Value 4']
df

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0        0.029580        0.195417        0.384198        0.922017
1        0.944321        0.290608        0.854225        0.406404
2        0.113246        0.798040        0.718091        0.302360
3        0.497047        0.465923        0.983712        0.768730

Task 3

In [ ]:
df.describe()

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.396048        0.437497        0.735056        0.599878
std          0.418362        0.265191        0.257824        0.293390
min          0.029580        0.195417        0.384198        0.302360
25%          0.092329        0.266810        0.634618        0.380393
50%          0.305146        0.378266        0.786158        0.587567
75%          0.608865        0.548952        0.886597        0.807052
max          0.944321        0.798040        0.983712        0.922017

Task 4

In [ ]:
df.isnull()

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
df['Random Value 1'].dtype

dtype('float64')

In [ ]:
df['Random Value 2'].dtype

dtype('float64')

In [ ]:
df['Random Value 3'].dtype

dtype('float64')

In [ ]:
df['Random Value 4'].dtype

dtype('float64')

Task 5

In [ ]:
df.loc[0:3,'Random Value 2':'Random Value 3']

   Random Value 2  Random Value 3
0        0.195417        0.384198
1        0.290608        0.854225
2        0.798040        0.718091
3        0.465923        0.983712

In [ ]:
df.iloc[0:,1:3]

   Random Value 2  Random Value 3
0        0.195417        0.384198
1        0.290608        0.854225
2        0.798040        0.718091
3        0.465923        0.983712