Assignment-1

Task-1

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s1=pd.Series(np.random.rand(4))
s2=pd.Series(np.random.rand(4))
print (s1,s2)

0    0.220703
1    0.736884
2    0.896958
3    0.857986
dtype: float64 0    0.904679
1    0.733718
2    0.578847
3    0.973630
dtype: float64

In [ ]:
df=pd.DataFrame([s1,s2])
df

          0         1         2         3
0  0.220703  0.736884  0.896958  0.857986
1  0.904679  0.733718  0.578847  0.973630

Task-2

In [ ]:
df.columns=['Random value1','Random value2','Random value3','Random value4']
df

   Random value1  Random value2  Random value3  Random value4
0       0.220703       0.736884       0.896958       0.857986
1       0.904679       0.733718       0.578847       0.973630

Task-3

In [ ]:
df.describe(include='all')

       Random value1  Random value2  Random value3  Random value4
count       2.000000       2.000000       2.000000       2.000000
mean        0.562691       0.735301       0.737902       0.915808
std         0.483644       0.002239       0.224938       0.081773
min         0.220703       0.733718       0.578847       0.857986
25%         0.391697       0.734509       0.658375       0.886897
50%         0.562691       0.735301       0.737902       0.915808
75%         0.733685       0.736093       0.817430       0.944719
max         0.904679       0.736884       0.896958       0.973630

Task-4

In [ ]:
df.isnull().sum()

Random value1    0
Random value2    0
Random value3    0
Random value4    0
dtype: int64

In [ ]:
df['Random value1'].dtype

dtype('float64')

In [ ]:
df['Random value2'].dtype

dtype('float64')

In [ ]:
df['Random value3'].dtype

dtype('float64')

In [ ]:
df['Random value4'].dtype

dtype('float64')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Random value1  2 non-null      float64
 1   Random value2  2 non-null      float64
 2   Random value3  2 non-null      float64
 3   Random value4  2 non-null      float64
dtypes: float64(4)
memory usage: 192.0 bytes

Task-4

In [ ]:
df.loc[0:1,'Random value2':'Random value3']

   Random value2  Random value3
0       0.736884       0.896958
1       0.733718       0.578847

In [ ]:
df.iloc[0:,1:]

   Random value2  Random value3  Random value4
0       0.736884       0.896958       0.857986
1       0.733718       0.578847       0.973630