In [ ]:
import pandas as pd
import numpy as np

np.random.seed(42)

data = np.random.randn(4, 4)

df = pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'])
print(df)

   Feature 1  Feature 2  Feature 3  Feature 4
0   0.496714  -0.138264   0.647689   1.523030
1  -0.234153  -0.234137   1.579213   0.767435
2  -0.469474   0.542560  -0.463418  -0.465730
3   0.241962  -1.913280  -1.724918  -0.562288

In [ ]:
df = df.rename(columns={'Feature 1': 'Random value 1',
                        'Feature 2': 'Random value 2',
                        'Feature 3': 'Random value 3',
                        'Feature 4': 'Random value 4'})
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.496714       -0.138264        0.647689        1.523030
1       -0.234153       -0.234137        1.579213        0.767435
2       -0.469474        0.542560       -0.463418       -0.465730
3        0.241962       -1.913280       -1.724918       -0.562288

In [ ]:
stat=df.describe()
print(stat)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.008762       -0.435780        0.009641        0.315612
std          0.439772        1.043924        1.426317        1.007175
min         -0.469474       -1.913280       -1.724918       -0.562288
25%         -0.292984       -0.653923       -0.778793       -0.489869
50%          0.003904       -0.186201        0.092135        0.150852
75%          0.305650        0.031942        0.880570        0.956334
max          0.496714        0.542560        1.579213        1.523030

In [ ]:
null_counts = df.isnull().sum()
print(null_counts)
data_types = df.dtypes
print(data_types)

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [ ]:
random_values_2_3_loc = df.loc[:, ['Random value 2', 'Random value 3']]
print(random_values_2_3_loc)
columns_iloc = df.iloc[:, [1, 2]]
print(columns_iloc)

   Random value 2  Random value 3
0       -0.138264        0.647689
1       -0.234137        1.579213
2        0.542560       -0.463418
3       -1.913280       -1.724918
   Random value 2  Random value 3
0       -0.138264        0.647689
1       -0.234137        1.579213
2        0.542560       -0.463418
3       -1.913280       -1.724918