In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/drug200.csv')

df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [ ]:
df.describe(include='all')

               Age  Sex    BP Cholesterol     Na_to_K   Drug
count   200.000000  200   200         200  200.000000    200
unique         NaN    2     3           2         NaN      5
top            NaN    M  HIGH        HIGH         NaN  DrugY
freq           NaN  104    77         103         NaN     91
mean     44.315000  NaN   NaN         NaN   16.084485    NaN
std      16.544315  NaN   NaN         NaN    7.223956    NaN
min      15.000000  NaN   NaN         NaN    6.269000    NaN
25%      31.000000  NaN   NaN         NaN   10.445500    NaN
50%      45.000000  NaN   NaN         NaN   13.936500    NaN
75%      58.000000  NaN   NaN         NaN   19.380000    NaN
max      74.000000  NaN   NaN         NaN   38.247000    NaN

In [ ]:
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [ ]:
x = df.iloc[:,0:5]
x.head(2)

   Age Sex    BP Cholesterol  Na_to_K
0   23   F  HIGH        HIGH   25.355
1   47   M   LOW        HIGH   13.093

In [ ]:
y = df['Drug']
y[0:2]

0    DrugY
1    drugC
Name: Drug, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=12)
ytrain.shape, ytest.shape

((160,), (40,))

In [ ]:
xtrain.shape, xtest.shape

((160, 5), (40, 5))

In [ ]:
x.shape, y.shape

((200, 5), (200,))

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()

In [ ]:
xtrain['BP'] = le.fit_transform(xtrain['BP'])
xtrain['BP']

77     0
47     1
94     1
14     2
41     0
      ..
3      2
130    2
134    0
155    1
75     1
Name: BP, Length: 160, dtype: int64

In [ ]:
xtest['BP'] = le.transform(xtest['BP'])
xtest['BP']

23     1
182    1
172    2
21     2
63     1
11     0
61     0
32     1
164    0
7      1
95     1
173    1
132    1
120    2
98     0
138    0
31     0
16     1
181    2
85     0
185    2
166    1
101    0
129    2
113    1
51     2
167    2
88     0
108    0
136    0
29     1
183    0
152    2
93     1
189    0
139    2
179    2
55     1
1      1
5      2
Name: BP, dtype: int64

In [ ]:
#ANN MODEL
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import tensorflow as tf

In [ ]:
tf.convert_to_tensor(xtrain)

ValueError: ignored

In [ ]:
reg_model = Sequential()
reg_model.add(Dense(5,activation='relu'))
reg_model.add(Dense(64,activation='relu'))
#reg_model.add(Dense(128,activation='relu'))
reg_model.add(Dense(32,activation='relu'))
reg_model.add(Dense(1,activation='linear'))

In [ ]:
reg_model.compile(optimizer='adam',loss='mse',metrics='[accuracy]')

In [ ]:
reg_model.fit(xtrain,ytrain,batch_size=4,epochs=10)

ValueError: ignored